{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "transform-react-jsx",
    "transform-class-properties",
    "transform-regenerator",
    "transform-object-rest-spread"
  ]
}